@import '../fonts/roboto';
@import '../fonts/roboto-slab';
@import '../fonts/open-sans';
@import '../fonts/lato';

$roboto:  'Roboto', sans-serif;
$roboto-slab:  'Roboto Slab', sans-serif;
$open-sans:  'Open Sans', sans-serif;
$lato:  'Lato', sans-serif;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
